---
layout: default
title: Projects
description: 
permalink: /projects/
---
<section class="archives" itemscope="" itemtype="http://schema.org/Blog">
    <a class="nav nav--black" href="{{ site.baseurl }}/">
        <i class="fa fa-lg fa-arrow-left">
        </i>
        <span>
            Back to Home
        </span>
    </a>
    <header class="archives__header">
        <span>
            Projects
        </span>
    </header>
    <div class="section-padding archives__container">
        {% for post in site.categories[page.title] %}
        <article class="card" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
            <a class="card__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
                <div class="card__img">
                    {% if post.image-sm %}
                    <figure class="absolute-bg wow" style="background-image: url('{{ post.image-sm }}');">
                    </figure>
                    {% else %}
                    <figure class="absolute-bg wow" style="background-image: url('{{ post.image }}');">
                    </figure>
                    {% endif %}
                </div>
                <div class="card__container">
                    <h2 class="card__header" itemprop="name">
                        {{ post.title }}
                    </h2>
                                  <p class="preview__excerpt" itemprop="description">{{ post.content | strip_html | truncatewords: 20 }}</p>
                    <span class="card__more">
                        See Project
                    </span>
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</section>
