<div class="tab">
  <ul class="cards">
    {% for post in site.categories %}
        <article class="card" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
            <a class="card__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
                <div class="card__img">
                    {% if post.image-sm %}
                    <figure class="absolute-bg wow" style="background-image: url('{{ post.image-sm }}');">
                    </figure>
                    {% else %}
                    <figure class="absolute-bg wow" style="background-image: url('{{ post.image }}');">
                    </figure>
                    {% endif %}
                </div>
                <div class="card__container">
                    <h2 class="card__header" itemprop="name">
                        {{ post.title }}
                    </h2>
                    <p class="card__count" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ post.date | date: "%b %-d, %Y" }}
              {% if post.categories.size > 0 %}
                in {{ post.categories | join: ', ' }}
              {% endif %}
                    </p>
                    <span class="card__more">
                        See Project
                    </span>
                </div>
            </a>
        </article>
        {% endfor %}
  </ul>

  {% include archive-link.html %}
</div>
